.odds {
    background-color: rgb(255, 112, 165);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.fontsize {
    font-size: 24px;
}

#first {
    color: rgb(11,26,230);
    font-size: 36px;
}

#second {
    background-color: aquamarine;
    font-size: 24px;
    font-weight: 700;
}