/* Add CSS Styling */
.dark,
.light {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.light {
    background-color: hsl(58,90%,47%);
}


.dark {
    background-color: black;
    color: white;
}