body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 16px; 
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding-top: 20px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin:10px;
  text-align:center;
  padding-top: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}